In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import warnings
import seaborn as sns
import random
from sklearn.datasets import load_iris
warnings.filterwarnings("ignore")
%matplotlib inline

In [29]:
data=pd.read_csv("Most-Recent-Cohorts-All-Data-Elements.csv")

In [30]:
active_colleges = data[data['CURROPER'] == 1]

In [31]:
features = ['ADM_RATE', 'ACTCMMID', 'SAT_AVG']

In [32]:
data_subset=active_colleges[features]

In [34]:
data_subset=data_subset.dropna(axis=0, how='all')
data_subset

      ADM_RATE  ACTCMMID  SAT_AVG
0       0.8738      18.0    849.0
1       0.5814      25.0   1125.0
3       0.7628      28.0   1257.0
4       0.4590      17.0    825.0
5       0.5259      27.0   1202.0
8       0.7659      22.0   1009.0
9       0.8054      27.0   1217.0
10      0.4839      26.0   1150.0
16      0.4538      21.0    972.0
22      0.9747       NaN      NaN
23      0.5676      22.0   1001.0
24      0.3333       NaN      NaN
27      0.5308      23.0   1062.0
31      0.5755      22.0   1013.0
33      0.5310      21.0    969.0
35      0.6431      23.0   1066.0
37      0.6193      22.0   1029.0
38      0.6542      23.0   1069.0
40      0.5574      22.0   1028.0
42      0.4837      19.0    886.0
47      0.9138      26.0   1170.0
51      0.8050      22.0   1011.0
52      0.4353      25.0   1121.0
54      0.4192      16.0    765.0
57      0.9125      21.0    992.0
58      0.4999      22.0   1006.0
61      0.8285       NaN      NaN
63      0.7347      23.0   1060.0
64      0.4896       NaN      NaN
65      0.5506       NaN      NaN
...        ...       ...      ...
6535    0.2000       NaN      NaN
6536    0.9455       NaN      NaN
6539    0.7705       NaN      NaN
6544    0.3590       NaN      NaN
6549    0.9155       NaN      NaN
6563    1.0000       NaN      NaN
6566    0.9118       NaN      NaN
6584    0.5850      24.0   1090.0
6589    0.7215      25.0   1108.0
6590    0.8333       NaN      NaN
6591    0.4000       NaN      NaN
6592    0.2500       NaN      NaN
6593    0.8616       NaN      NaN
6599    0.3795      30.0   1343.0
6612    0.7389       NaN      NaN
6626    0.8024      20.0    964.0
6634    0.7128       NaN      NaN
6637    0.6000       NaN      NaN
6644    0.8250       NaN      NaN
6667    1.0000       NaN      NaN
6677    0.7019       NaN      NaN
6678    0.4286       NaN      NaN
6682    1.0000       NaN      NaN
6685    1.0000       NaN   1100.0
6686    0.6000       NaN      NaN
6690    0.2564       NaN      NaN
6702    0.8462       NaN      NaN
6721    1.0000       NaN      NaN
6722    0.0000       NaN      NaN
6734    0.3564      17.0    831.0

[1987 rows x 3 columns]

In [ ]:
print("Before OverSampling, counts of label '1': {}".format(sum(train_y==1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(train_y==0)))

sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(train_x, train_y.ravel())

print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_train_res==1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res==0)))